Where to get NAV data for Indian Mutual fund
Visit AMFI infia to downlaon the NAV. or Chekc http://www.amfiindia.com/net-asset-vaue/nav-history
mftool is the library in Python used to downloand the data directly into your console.
We'll show show how to download Nippon India Credit Risk Plan - Growth Plan

# 1 import the library

In [6]:
import pandas as pd
from mftool import Mftool

In [7]:
#pip install mftool

# 2 Create object

create Mftool object. Say this is mf. 
use get_scheme_code() will provide you all scheme under MF

In [8]:
mf = Mftool()

In [12]:
scheme = mf.get_scheme_codes()

#check the total number of fund
len(scheme)

#print to chcek list of fund name and their id numbers.
#print(scheme)

13263

# 3 get fund data

In [ ]:
Nippon India..id 112938, let us get the NAV

In [10]:
# print fund name 
scheme['112938']

'Nippon India Credit Risk Fund  - Growth Plan'

In [30]:
# Nippon India Data
nippon = mf.get_scheme_historical_nav("112938", as_Dataframe = True)

In [31]:
nippon

                 nav  dayChange
date
16-05-2024  31.69950     0.0109
15-05-2024  31.68860     0.0123
14-05-2024  31.67630     0.0141
13-05-2024  31.66220     0.0202
10-05-2024  31.64200     0.0109
...              ...        ...
28-05-2010  12.77370     0.0021
26-05-2010  12.77160     0.0001
25-05-2010  12.77150     0.0014
24-05-2010  12.77010     0.0070
21-05-2010  12.76310        NaN

[3376 rows x 2 columns]

In [43]:
# sort data by ascending Order
#nippon.nav = nippon.nav.astype('float) 
nippon.sort_index(ascending  = True)

                 nav  dayChange
date
01-01-2013  15.50210     0.0085
01-01-2014  16.73900     0.0068
01-01-2015  18.57960     0.0124
01-01-2016  20.20650     0.0097
01-01-2018  23.80280     0.0221
...              ...        ...
31-12-2015  20.19680     0.0098
31-12-2018  25.22280     0.0169
31-12-2019  25.71240     0.0059
31-12-2020  24.19790     0.0065
31-12-2021  27.46550     0.0071

[3376 rows x 2 columns]

In [55]:
#Explore mftool library
dir(Mftool)
# Nippon India Data
#nippon_2 = mf.get_scheme_historical_nav("112938", as_Dataframe = True)         
#nippon_3 = mf.get_average_aum("112938") 
#nippon_4 = mf._get_daily_scheme_performance("112938", as_Dataframe = True) 
#nippon_5 = mf.calculate_balance_units_value("112938", as_Dataframe = True) 
#nippon_6 = mf.calculate_returns("112938", as_Dataframe = True) 
#nippon_7 = mf.get_scheme_historical_nav("112938", as_Dataframe = True)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_get_daily_scheme_performance',
 'calculate_balance_units_value',
 'calculate_returns',
 'get_all_amc_profiles',
 'get_available_schemes',
 'get_average_aum',
 'get_open_ended_debt_scheme_performance',
 'get_open_ended_equity_scheme_performance',
 'get_open_ended_hybrid_scheme_performance',
 'get_open_ended_other_scheme_performance',
 'get_open_ended_solution_scheme_performance',
 'get_scheme_codes',
 'get_scheme_details',
 'get_scheme_historical_nav',
 'get_scheme_historical_nav_for_dates',
 'get_scheme_historical_nav_year',
 'get_scheme_info',
 'get_scheme_quote',
 'history',
 'is_code',
 'is_valid_code',
 'set_proxy']

In [52]:
nippon_2

                 nav  dayChange
date
16-05-2024  31.69950     0.0109
15-05-2024  31.68860     0.0123
14-05-2024  31.67630     0.0141
13-05-2024  31.66220     0.0202
10-05-2024  31.64200     0.0109
...              ...        ...
28-05-2010  12.77370     0.0021
26-05-2010  12.77160     0.0001
25-05-2010  12.77150     0.0014
24-05-2010  12.77010     0.0070
21-05-2010  12.76310        NaN

[3376 rows x 2 columns]

In [33]:
##1. plot the return and actual NAV

In [34]:
# 2 calcute Standard deviation of the return

In [35]:
# 3 Calculate Expected return from Retrun Series

In [36]:
# 4 Calculate Sharpe Ratio ( assuming Risk free rate 6%)

In [37]:
# 5 Calcualre Sortino Ratio.

In [ ]:
# 6 Calculate Beta
#6.1 take Nifty 50 as benchmark. Take the Nifty daily values for same time frame. calcualte % return.
#6.2 You already have Nippon Return Series.
#6.3 Regression -- Nippon return ~ f(nifty return).. You'll get beta from Here. Interprete Beta

In [39]:
#7 Caculate R square.
#7.1 take Nifty return Series 
# 7.2 take Nippon Return Series
# 7.3 calculate Correlation.

In [40]:
#8 Calculate Value at Risk

In [41]:
# 9 calcualte Skewness Kurtosis